# Ignore node_modules and React build cache
node_modules/
build/

# Ignore virtual environments (if any)
venv/
__pycache__/

# Ignore system files
*.pyc
*.pyo
*.pyd
.DS_Store

# Ignore Git files
.git
.gitignore

# Ignore environment files
.env