/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 20px;

  /* background-color: #fff; */
  
  /* background-image: url('./img/img.jpeg');  */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  text-align: center;
}

/* App Wrapper */
.App {
  padding: 20px;
}

/* Headings */
h1 {
  margin-bottom: 20px;
  color: rgb(92, 55, 174);
}

/* Form Container */
.pbox {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.box {
  display: flex;
  align-items: center;
  width: 75%;
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  /* background-color: white; */
  font-size: 20px;
}

textarea {
  width: 100%;
  max-width: 600px;
  height: 150px;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  resize: none;

  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

textarea:focus {
  border-color: #211f21;
  box-shadow: 0 0 5px rgba(92, 55, 174, 0.4);
}

/* Label */
/* label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
} */

/* Button */
.button {
  background: rgb(92, 55, 174);
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /* transition: all 0.3s ease; */
}

.button:hover {
  /* transform: translateY(-2px); */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  /* animation: buttonShading 0.5s ease forwards; */
}

/* @keyframes buttonShading {
  0%, 100% {
    background: linear-gradient(135deg, #50c9c3, #4a90e2);
  }
  50% {
    background: linear-gradient(135deg, #4a90e2, #50c9c3);
  }
} */



.button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* Error & Result Messages */
p {
  font-size: 20px;
  margin-top: 10px;
}

h2 {
  margin-top: 20px;
  color: rgb(92, 55, 174);
}

